<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Camprgrounds</h1>
            <p>View our hand-picked campgrounds from all over the world!</p>
            <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add a new Campground</a>
        </div>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src='<%= campground.image %>' />
                <div class="caption text-center">
                    <h4>
                        <%= campground.name %>
                    </h4>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

    <a href="/">Go Home</a>
</div>

<% include partials/footer %>